@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Header content */
header {
    color: #fff;
    background-color: #3500AF;
    height: 90px;
}

.container-grid {
    width: 1200px;
    margin: 0 auto;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo {
    width: 300px;
}

.menu {
    width: 650px;
    display: flex;
    justify-content: flex-end;
}

.menu a {
    text-decoration: none;
    font-size: 23px;
    font-weight: bold;
    color: #fff;
    margin: 0 20px 0 20px;
    text-transform: uppercase;
}

.container-search-car {
    display: flex;
    color: #fff;
    background-color: #fff;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

.search-product {
    background-color: #3500AF;
    border-radius: 20px;
    width: 300px;
    height: 40px;
    padding: 12px;
    font-size: 12px;
}

.product-list {
    height: 550px;
    align-items: center;
}

.products-title {
    display: block;
    text-align: center;
    color: #3500AF;
    font-weight: bold;
    font-size: 38px;
    width: 100%;
    padding: 15px 0px 0px 0px;
}

.product-car {
    background-color: #3500AF;
    border-radius: 20px;
    width: 150px;
    height: 40px;
    padding: 10px;
    font-size: 22px;
}

hr {
    width: 100%;
    height: 5px;
    background-color: #3500AF;
}

/* Main section */
main {
    display: flex;
    flex-wrap: wrap;
}


section {
    width: 100%;
    align-items: center;
}

.card {
    display: block;
    margin: 20px;
    float: left;
}

.product1 {
    height: 214px;
    width: 250px;
    background-image: url(./assets/product1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.product2 {
    height: 214px;
    width: 250px;
    background-image: url(./assets/product2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.product3 {
    height: 214px;
    width: 250px;
    background-image: url(./assets/product3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.product4 {
    height: 214px;
    width: 250px;
    background-image: url(./assets/product4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Footer content */

.img-mouse {
    height: 214px;
    width: 250px;
    background-image: url(./assets/img-mouse.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.img-keyboard {
    height: 214px;
    width: 185px;
    background-image: url(./assets/img-keyboard.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    color: white;
    background-color: black;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.container-assets {
    display: block;
    flex-wrap: wrap;
}

.promotions {
    margin: 10px;
}

.promotions h3 {
    margin: 0px 0px 10px 0px;
}

.promotion-email {
    background-color: white;
    color: black;
    border-radius: 20px;
    height: 30px;
    padding: 6px;
}

.social-media {
    font-style: bold;
    margin: 10px;
}

.contact-info {
    margin: 10px;
}

.about {
    margin: 10px;
}