@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


/* Header content */
header {
    color: #fff;
    background-color: #3500AF;
    height: 90px;
}

.container-grid {
    width: 1200px;
    margin: 0 auto;
}

body {
    min-height: 100vh;
    margin: 0;

    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    max-height: 50px;
}

footer {
    min-height: 50px;
}


.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo {
    width: 300px;
}

.menu {
    width: 650px;
    display: flex;
    justify-content: flex-end;
}

.menu a {
    text-decoration: none;
    font-size: 23px;
    font-weight: bold;
    color: #fff;
    margin: 0 20px 0 20px;
    text-transform: uppercase;
}

.container-search-car {
    display: flex;
    color: #fff;
    background-color: #fff;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

.search-product {
    background-color: #3500AF;
    border-radius: 20px;
    width: 300px;
    height: 40px;
    padding: 12px;
    font-size: 14px;
}

.search-product p {
    width: 93%;
    display: inline-block;
}

.product-list {
    height: 550px;
    align-items: center;
}

.products-title {
    display: block;
    text-align: center;
    color: #3500AF;
    font-weight: bold;
    font-size: 38px;
    width: 100%;
    padding: 15px 0px 0px 0px;
}

.product-car {
    background-color: #3500AF;
    border-radius: 20px;
    width: 130px;
    height: 45px;
    padding: 10px;
    font-size: 22px;
}

hr {
    width: 100%;
    height: 5px;
    background-color: #3500AF;
}

/* Main section */
main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}


section {
    align-items: center;
}

.card {
    border: 3px solid #3500AF;
    border-radius: 20px;
    display: block;
    margin: 20px 10px;
    padding: 20px 10px;
    float: left;
    color: #3500AF;
    text-align: center;
}

.card h3 {
    margin: 10px;
    font-size: 25px;
}

.card p {
    margin: 5px;
}

.card a {
    text-decoration: none;
    color: #fff;
}


.card-button {
    background-color: #3500AF;
    color: white;
    width: 100px;
    height: 30px;
    padding: 5px;
    margin: 10px;
    border-radius: 20px;
    display: inline-block;
    flex-wrap: wrap;
}

.product1 {
    height: 214px;
    width: 250px;
    background-image: url(./assets/product1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.product2 {
    height: 214px;
    width: 250px;
    background-image: url(./assets/product2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.product3 {
    height: 214px;
    width: 250px;
    background-image: url(./assets/product3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.product4 {
    height: 214px;
    width: 250px;
    background-image: url(./assets/product4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Footer content */

.img-mouse {
    height: 214px;
    width: 250px;
    background-image: url(./assets/img-mouse.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
}

.img-keyboard {
    height: 214px;
    width: 185px;
    background-image: url(./assets/img-keyboard.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    color: white;
    background-color: black;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

.footer-assets {
    display: flex;
    flex-direction: row;
    margin: 0px 12px;
    padding: 10px;
}

.promotions {
    height: 214px;
    width: 220px;
}

.promotions h3 {
    margin: 0px 0px 10px 0px;
}

.promotion-email {
    background-color: white;
    color: black;
    border-radius: 20px;
    width: 200px;
    height: 30px;
    padding: 6px;
    text-align: left;
}

.social-media {
    font-style: bold;
    height: 100px;
    width: 200px;
    margin: 20px 10px;
    display: inline-block;
}

.social-media i {
    color: #fff;
    height: 25px;
    width: 25px;
}

.contact-info {
    height: 214px;
    width: 200px;
    text-align: justify;
}

.contact-info h3 {
    margin-bottom: 10px;
    text-align: center;
}

.contact-info p {
    margin-bottom: 10px;
}

.about {
    height: 214px;
    width: 200px;
}

.buttons-about {
    margin: 10px;
}

.buttons-about a {
    text-decoration: none;
    color: #fff;
}