@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


/* Header content */
header {
    color: #fff;
    background-color: #3500AF;
    height: 90px;
}
/* .container-grid {
    width: 1200px;
    margin: 0 auto;
}*/

header i {
    color: #fff;
    height: 25px;
    width: 25px;
    visibility: hidden;
}

body {
    min-height: 100vh;
    margin: 0;

    display: grid;
    grid-template-rows: auto 1fr auto;
}


footer {
    min-height: 50px;
}


.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo {
    width: 300px;
} 

.menu {
    width: 650px;
    display: flex;
    justify-content: flex-end;
}

.menu a {
    text-decoration: none;
    font-size: 23px;
    font-weight: bold;
    color: #fff;
    margin: 0 20px 0 20px;
    text-transform: uppercase;
}

.container-search-car {
    display: flex;
    color: #fff;
    background-color: #fff;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

.search-product {
    background-color: #3500AF;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    font-size: 14px;
    display: flex;
}

.search-product div {
    width: 180px;
    height: 30px;
    display:inline-block;
    padding: 4px;
}

.products-title {
    display: block;
    text-align: center;
    color: #3500AF;
    font-weight: bold;
    font-size: 38px;
    padding: 15px 0px 0px 0px;
}

.product-car {
    background-color: #3500AF;
    border-radius: 20px;
    width: 130px;
    height: 45px;
    padding: 10px;
    font-size: 22px;
}

hr {
    width: 100%;
    height: 5px;
    background-color: #3500AF;
}
/* Login sextion */
.container-login {
    margin: 20px;
}

/* Main section */
main {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    align-items: center;
}

.card-list {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
}


.card {
    border: 3px solid #3500AF;
    border-radius: 20px;
    display: block;
    margin: 3px 3px;
    padding: 10px 10px;
    float: left;
    color: #3500AF;
    text-align: center;
}

.card h3 {
    margin: 10px;
    font-size: 25px;
}

.card p {
    margin: 5px;
}

.card a {
    text-decoration: none;
    color: #fff;
}

.card-button {
    background-color: #3500AF;
    color: white;
    width: 100px;
    height: 30px;
    padding: 5px;
    margin: 10px;
    border-radius: 20px;
    display: inline-block;
}

.product1 {
    height: 200px;
    width: 230px;
    background-image: url(./assets/product1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.product2 {
    height: 200px;
    width: 230px;
    background-image: url(./assets/product2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.product3 {
    height: 200px;
    width: 230px;
    background-image: url(./assets/product3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.product4 {
    height: 200px;
    width: 230px;
    background-image: url(./assets/product4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    flex-wrap: wrap;

}

/* Footer content */

footer {
    color: white;
    background-color: black;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    float: left;
}

.footer-assets {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
}

.footer-items {
    height: 214px;
    width: 185px;
    display: block;
    float: left;

}

.img-mouse {
    background-image: url(./assets/img-mouse.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.promotions {
    height: 100%;
}

.promotions h3 {
    margin: 5px;
}

.promotion-email {
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 6px;
    text-align: left;
}

.social-media {
    font-style: bold;
    margin: 5px;
    display: inline-block;
    height: 50%;
}

.social-media i {
    color: #fff;
    height: 25px;
    width: 25px;
}

.contact-info {
    text-align: justify;
    height: 100%;
}

.contact-info h3 {
    margin: 5px;
}

.contact-info p {
    margin-bottom: 10px;
}

.about {
    height: 100%;
}

.about h3 {
    margin: 5px;
}

.buttons-about {
    margin: 10px;
}

.buttons-about a {
    text-decoration: none;
    color: #fff;
}

.img-keyboard {
    background-image: url(./assets/img-keyboard.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 100%;
}

@media screen and (max-width: 1200px) {
    .container {
        width: 90vw;
    }

    .product1, .product2, .product3, .product4 {
        width: 100%;
        align-items: center;
    }


}

@media screen and (max-width: 992px) {
    .img-keyboard {
        visibility: hidden;
    }
    .img-mouse {
        visibility: hidden;
    }
}

@media screen and (max-width: 768px) {
    .footer-assets {
        flex-direction: column;
    }
    
    .card-list {
        flex-direction: column;
    }

    header i {
        visibility: visible;
    }

    .menu a {
        visibility: hidden;
    }

    .img-keyboard {
        visibility: visible;
    }
    .img-mouse {
        visibility: visible;
    }
}
