* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    color: #fff;
    background-color:#3500AF;
    height: 90px;
}

.container-grid {
    width: 1200px;
    margin: 0 auto;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.menu {
    width: 650px;
    display: flex;
    justify-content: flex-end;
}

.logo {
    width: 300px;
}

.menu a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    margin: 0 20px 0 20px;
    text-transform: uppercase;
}

.container-search-car {
        display: flex;
        color: #fff;
        background-color: #fff;
        align-items: center;
        justify-content: space-around;
        padding: 10px;
}

.search-product {
    background-color:  #3500AF;
    border-radius: 20px;
    width: 300px;
    height: 40px;
    padding: 12px;
    font-size: 12px;
}

.product-car {
    background-color:  #3500AF;
    border-radius: 20px;
    width: 150px;
    height: 40px;
    padding: 10px;
    font-size: 22px;
}

.products-title{
    display: block;
    text-align: center;
    color: #3500AF;
    font-weight: bold;
    font-size: 38px;
    width: 100%;
    padding: 15px 0px 0px 0px;
}

hr{
    width:100%;
    height: 5px;
    background-color: #3500AF;
}
main{
    display: flex;
    flex-wrap: wrap;
}


section{
    width: 100%;
    align-items: center;
}

.card{
    display: block;
    margin: 20px;
    float: left;
}

.product1 {
    height: 214px;
    width: 250px;
    background-image: url(./assets/product1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.product2 {
    height: 214px;
    width: 250px;
    background-image: url(./assets/product2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.product3 {
    height: 214px;
    width: 250px;
    background-image: url(./assets/product3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.product4 {
    height: 214px;
    width: 250px;
    background-image: url(./assets/product4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.img-mouse {
    height: 214px;
    width: 250px;
    background-image: url(./assets/img-mouse.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.img-keyboard {
    height: 214px;
    width: 185px;
    background-image: url(./assets/img-keyboard.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    margin: 20px;
    color: white;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
}